.gallery-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    @include sm{
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include md{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    div{
        overflow: hidden;
        display: flex;
    }
    img{
        cursor: pointer;
        @include md{
            overflow: hidden;
            width: 100%;
            height: 100%;
            transition: 0.2s ease-in-out;
            filter: brightness(1);
            &:hover{
                transform: scale(1.05);
                filter: brightness(0.8);
            }
        }
    }
}