.team-container{
    h5{
        color: lighten($off-black, 25%);
        margin-bottom: 1rem;
    }
    @include sm{
        column-count: 2;
        column-gap: 2rem;
    }
    section{
        border: 1px solid transparentize($off-black, 0.7);
        margin: 0 0 2rem;
        padding: 1rem;
        @include sm{
            display: inline-block;
        }
        img{
            width: 150px;
            float: left;
            padding: 0 2rem 0 0;
            
        }
    }
}